.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 40rem;
  padding-top: 30px;
}
.container h2 {
  font-size: 2rem;
  text-align: center;
}

.question {
  cursor: pointer;
  width: 40rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #252525;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
  border-radius: 15px;
}

.answer {
  margin-bottom: 20px;
  background-color: var(--four-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.answer__content {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 560px;
}

.active {
  background-color: #252525;
}

.expanded {
  max-height: 1000px;
}

.scrolltop {
  cursor: pointer;
  z-index: 9999;
  padding-bottom: 14px;
}

.scrollicon {
  font-size: 50px;
  padding: 8px;
  transition: 0.3s;
  color: #252525;
  text-decoration: none;
  outline: none;
}

.scrollicon:hover {
  font-size: 54px;
}


@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  .question {
    width: 100%;
  }
  .answer__content {
    font-size: 14px;
    line-height: 1.3;
    padding: 0.5rem;
  }
  .question,
.answer {
  flex: 0 0 100%;
  max-width: 100%;
}

  
}