.container{
  margin: 3rem;
  text-align: center;
}
.container a {
  color: black;
  text-decoration: none;
  margin: none;
}
.container a:hover {
  color: black;
}
.favorites_container {
  text-align: end;
}
.favorite {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}
section {
  display: flex;
}

figure {
  padding: 1rem;
}

.favorites_info button {
  margin: 0.5rem 0 0 0 ;
  border: none;
  background-color: transparent;  
  color: dodgerblue;
}
.favorites_info {
  padding: 1rem;
}

.favorites_info h3 {
  font-size: 1.5rem;
}

.favorites_info h4 {
  font-size: 1rem;
}