.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-body);
  border: 3px solid blue;
  height: 600px;
}
.containerProducts {
  width: 1000;
  background-color: white;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
}
.container_products {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #f9c139;
  border-radius: 10px;
}

.detalle_products {
  padding: 10px 0;
  width: 900px;
  height: 190px;
  overflow-y: auto;
  border-radius: 10px;
  border: 3px solid salmon;
}
.containerDetailProducts {
  border: 3px solid goldenrod;
  height: 190px;
  width: 1000px;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
}
.titulo {
  font-size: 20px;
}
