.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--font-body);
}
.container_products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  margin: 20px;
}
.container_products input {
  padding: 10px;
  border: 10px black;
  background-color: white;
  border-radius: 10px;
}
.container_products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  font-size: 20px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  border-radius: 20px;
  padding: 10px;
}
.row * {
  margin: auto ;
}
.detalle_products {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  overflow-y: auto;
  margin: 10px 0;
}
.detalle_products div {
  padding: none;
}
.detalle_products::-webkit-scrollbar {
  width: 0;
}