.formContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.containerImageDetail{
  display: flex;
  width: 750px;
  height: 280px;
  border-radius: 20px;
  border: 1px solid  rgba(105, 100, 100, 0.781);
}
.divImageProduct{
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 1px solid rgba(105, 100, 100, 0.781);
}
.imageProduct{
  display: flex;
  margin: 7px;
  width: 230px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid rgba(105, 100, 100, 0.781);
}
.detailProduct{
  margin-bottom: 10px;
}
.divDetailProduct{
  display: flex;
  flex-direction: column;
}
.divButton{
  display: flex;
  height: 30px;
  justify-content:space-around;
  
}
.imageButton{
  width: 110px;
  border-radius: 20px;
  background-color:var(--four-color);
}
.descriptionProduct{
  display: flex;
  margin: 10px;
  flex-direction: column;
  align-items:flex-end;
  justify-content:space-evenly;
  
}

.subDetail{
    display: flex;
    justify-content: stretch;
    gap: 1vh;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vh;
    height: 3vh;
    width: 33vw;
}
.textarea {
  border-radius: 20px;
}