div.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-body);
  margin: 20px;
}
div.container input {
  padding: 5px;
  border: none;
  background-color: white;
  border-radius: 10px;
}

div.info_container {
  background-color: white;
  width: 80%;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

div.info_users {
  display: flex;
  height: 400px;
  justify-content: center;
  flex-direction: column;
}